* {
    box-sizing: border-box;
}

.buttons {
    height: 75px;
    width: 81px;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(224, 218, 218);
    border: 1px solid black;
    margin-right: -2;
    margin-top: 2;
    margin-left: 1;
}

.hidden {
    visibility: hidden;
}

#math_container {
    position: relative;
    border: 1px solid black;
    display: block;
    text-align: right;
    padding-top: 40px;
    padding-right: 10px;
    font-size: 47px;
    width: 335px;
    height: 140px;
    background-color: rgb(171, 172, 226);
    color: rgb(0, 0, 0);
    overflow: hidden;
}



